<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

	<h1>Login Page</h1>
	<div class="col-lg-4 col-md-12 wow fadeInUp">

		<form action="/login_process" method="post">
			<div class="row g-3">




				<div class="col-12">
					<label for="Email">Email:- </label>
					<input type="email" class="form-control" name="email" id="name" placeholder="Enter email">

				</div>

				<div class="col-12">
					<label for="Password">Password:- </label>
					<input type="password" class="form-control" name="password" id="name" placeholder="Enter password">

				</div>







				<div class="col-12">
					<button class="btn btn-primary w-100 py-3" type="submit">Login</button>
				</div>
			</div>
		</form>
	</div>



	</div>

</body>

</html>